@page "/"
@inject IStringLocalizer<Resource> Localizer

<PageTitle>Home</PageTitle>

<h1>@Localizer["Welcome"]</h1>

@Thread.CurrentThread.CurrentCulture
@Thread.CurrentThread.CurrentUICulture

<canvas id="drawingCanvas" width="800" height="600" style="border: 1px solid black;"></canvas>
